/* ── Base ────────────────────────────────────────────────────────────────── */
.akds-card-content {
  flex: 1;
  padding: var(--akds-spacing-layout-md);
}

.akds-card--borderless .akds-card-content {
  padding-top: 0;
  padding-bottom: 0;
}