/* ── Base ────────────────────────────────────────────────────────────────── */
.akds-card-footer {
  display: flex;
  align-items: center;
  gap: var(--akds-spacing-scale-02);
  padding-inline: var(--akds-spacing-layout-md);
  padding-block: var(--akds-spacing-layout-sm);
}

/* ── Divided ─────────────────────────────────────────────────────────────── */
.akds-card-footer--divided {
  border-top: 1px solid var(--akds-color-border-default-default);
}
