.carousel-entry-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-radius: var(--akds-radius-lg);
  background: var(--akds-color-background-secondary-default);
}

.carousel-entry-slide--fixed-width {
  width: 200px;
}

.carousel-entry-card {
  width: 280px;
}
